# Virtual environment
venv/
env/
.venv/

# Environment variables 
.env
.env.local

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

ml/*.pkl
.pkl

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
